@charset "utf-8";

@import "vars";
@import "layout";

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#site-header {
    width: 100%;
    height: 100%;

    color: $lightColor;

    background: url(./../images/bg_header.png) center center / cover no-repeat;
}

#header-logo {
    height: 50%;
}

#site-direction {
    font-size: 1.3rem;
}

#profile {
    padding: 30px 10px 30px 10px;
    width: 100%;
    color: $darkColor;
}

#profile-contents {
    padding: 0 30px;
    min-width: 40%;

    h4 {
        padding-bottom: .2em;
        border-bottom: 1px solid $darkColor;

        span {
            display: block;
            margin-bottom: .1em;
            color: #666;
            font-size: .4em;
        }
    }
}

#profile-detail {
    div {
        padding: 0 5px;

        p {
            border-bottom: 1px solid $darkColor;
        }
    }
}

#contents-link {
    padding: 30px 10px 30px 10px;
    width: 100%;
    color: $lightColor;

    background-color: $darkColor;

    a {
        margin: 10px 10px;
        text-align: center;
        display: inline-block;
        padding: 15px 0;
        min-width: 100px;
        font-weight: bolder;
        text-decoration: none;
        font-size: 1.6rem;

        flex-basis: 30%;
    }
}

footer {
    padding-top: 15px;
    width: 100%;
    height: 50px;
    color: $lightColor;
    text-align: center;
    background-color: $darkColor;

    p {
        margin: 0;
        font-weight: bolder;
    }
}