@charset "utf-8";

@import "vars";
@import "layout";

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#site-header {
    width: 100%;
    height: 90%;

    color: #fff;

    background: url(./../images/bg_header.png) center center / cover no-repeat;
}

#header-logo {
    height: 50%;
}

#site-direction {
    font-size: 1.3rem;
}

#contents-link {
    padding: 3%;
    width: 100%;
    height: 80%;

    background-color: #aaa;

    a {
        background-color: $hoverColor;
        margin: 10px 10px;
        text-align: center;
        font-weight: bolder;
        padding: 15px 30px;
        width: 20%;
        height: 80%;
        display: inline-block;
        vertical-align: middle;
    }
}